* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, #03045e, #0077b6, #00b4d8, #90e0ef, #caf0f8);
    background-attachment: fixed;
    height: 100%;
}

html, body {
    height: 100%; /* Garantir que o body ocupe toda a altura */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #fff; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 400px; 
    height: 300px;
}

h1{
    color: #03045e;
    text-align: center;
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px; 
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #0077b6;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #005f8b;
}

p {
    margin-top: 10px;
    color: #03045e;
}
